@model CKWEBNANGCAO.NET8.Models.TbSanpham
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit Product";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit Product</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SuaSanPham" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Masanpham" />
            <div class="form-group">
                <label asp-for="Tensanpham" class="control-label">Product Name</label>
                <input asp-for="Tensanpham" class="form-control" />
                <span asp-validation-for="Tensanpham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dongia" class="control-label">Price</label>
                <input asp-for="Dongia" class="form-control" />
                <span asp-validation-for="Dongia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soluong" class="control-label">Quantity</label>
                <input asp-for="Soluong" class="form-control" />
                <span asp-validation-for="Soluong" class="text-danger"></span>
            </div>
            <div class="form-group">       
                <label asp-for="Hinhanh" class="control-label">Product Image</label>
                <input type="file"  name="uploadHinh"  accept="image/*" onchange="displayImage(this)" required>
                <img src="~/ImageProducts/@Model.Hinhanh" id="previewImage" style="max-width: 100px; max-height: 200px; " />
                <span asp-validation-for="Hinhanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                <textarea asp-for="Mota" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Mota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Madanhmuc" class="control-label">Category</label>
                <select asp-for="Madanhmuc" class="form-control" asp-items="ViewBag.Madanhmuc"></select>
                <span asp-validation-for="Madanhmuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    function displayImage(input) {
        var preview = document.getElementById("previewImage");

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

