@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model CUOIKYLTWEBNANGCAO.Models.TbSanpham

@{
    ViewData["Title"] = "Thêm Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Thêm sản phẩm</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ThemSanPham" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Tên sản phẩm</label>
                <input asp-for="Tensanpham" class="form-control" />
                <span asp-validation-for="Tensanpham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Đơn giá</label>
                <input asp-for="Dongia" class="form-control" />
                <span asp-validation-for="Dongia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Số lượng</label>
                <input asp-for="Soluong" class="form-control" />
                <span asp-validation-for="Soluong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hình ảnh</label><br />
                <input type="file" id="uploadHinh" name="uploadHinh" accept="image/*" onchange="displayImage(this)" />
                <span asp-validation-for="Hinhanh" class="text-danger"></span>
                <img id="previewImage" style="max-width: 100px; max-height: 200px;" />
            </div>
            <div class="form-group">
                <label  class="control-label">Mô tả</label>
                <input asp-for="Mota" class="form-control" />
                <span asp-validation-for="Mota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Tên danh mục</label>
                <select asp-for="Madanhmuc" class="form-control" asp-items="ViewBag.Madanhmuc"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở về</a>
</div>
    <script>
        function displayImage(input) {
            var preview = document.getElementById("previewImage");

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

