@model IEnumerable<TbDanhmuc>
<div class="col-lg-3">
    <div class="hero__categories">
        <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <a asp-controller="Home" asp-action="Index" style="color:white">All departments</a>
        </div>
        <ul>
            @foreach (var item in Model)
            {
                <li><a asp-controller="Home" asp-action="sanphamtheodanhmuc" asp-route-madm="@item.Madanhmuc">@item.Tendanhmuc</a></li>
            }
            
        </ul>
    </div>
</div>
